doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/header.css')
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/marvel.css')
    link(rel='stylesheet', href='/css/games.css')
    link(rel='stylesheet', href='/css/about.css')
    link(rel='stylesheet', href='/css/contact.css')
    link(rel='stylesheet', href='/css/footer.css')

  body
    include header
    block content
    include footer
